DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=giliran_ku_db
DB_SSLMODE=disable
SERVER_PORT=8080
PDF_OUTPUT_DIR=D:\Folder Semester 4\Pengembangan Aplikasi Mobile\Week 14\Praktikum\giliran_ku\queue_pdfs
