# Flutter
.build/
.dart_tool/
.packages
pubspec.lock
giliranku_mobile/lib/core/constants/apiConstants.dart
giliran_ku/lib/core/constants/apiConstants.dart

# Go
bin/
vendor/
gliranku-backend/.env

# VSCode
.vscode/

# OS
.DS_Store